body {
  /* color: #fff; */
  /* color: white; */
  background-color: #6495ED;
  /* background-color: rgb(100, 149, 237)
; */
  /* background-color: CornflowerBlue; */
}

.clear {
  clear: both;
}

#box-model {
  width: 500px;
  height: 200px;
  padding: 25px;
  border: 10px solid black;
  margin: 2rem;
  color: white;
  background-color: #F08080;
}

.bottom-margin {
  margin-bottom: 5rem !important;
}

#fonts {
  font-family: Helvetica, sans-serif;
  /* font-family: Impact, sans-serif; */
  font-size: 24px;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  width: 50%;
  float: right;
  text-align: center;
}

#floats {
  width: 90%;
}

@media screen and (min-width: 600px) {
  #floats {
    width: 10%;
  }
}

#static {
  position: static;
  top: 30px;
  bottom: 300px;
  background-color: yellow;
}
#relative {
  position: relative;
  top: 300px;
  background-color: yellow;
}
#fixed {
  position: fixed;
  top: 100px;
  left: 0;
  background-color: yellow;
}
#absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: yellow;
}
#sticky {
  position: sticky;
  top: 0;
  background-color: yellow;
} 
#background {
  /* position: relative; */
  width: 250px;
  height: 250px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* position: relative;  */
}

#background:hover {
  /* background-image: unset; */
}

.space {
  margin-bottom: 250px;
}